@font-face {
	font-family: "Google Sans";
	src: url("../../assets/fonts/google-sans/GoogleSans-Regular.eot");
	src: url("../../assets/fonts/google-sans/GoogleSans-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSans-Regular.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSans-Regular.woff") format("woff"),
		url("../../assets/fonts/google-sans/GoogleSans-Regular.ttf")
			format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans";
	src: url("../../assets/fonts/google-sans/GoogleSans-Medium.eot");
	src: url("../../assets/?#iefix") format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSans-MediumItalic.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSans-MediumItalic.woff")
			format("woff"),
		url("../../assets/fonts/google-sans/GoogleSans-MediumItalic.ttf")
			format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Google Sans Display";
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-Bold.eot");
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Bold.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Bold.woff")
			format("woff"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Bold.ttf")
			format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans";
	src: url("../../assets/fonts/google-sans/GoogleSans-Medium.eot");
	src: url("../../assets/fonts/google-sans/GoogleSans-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSans-Medium.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSans-Medium.woff") format("woff"),
		url("../../assets/fonts/google-sans/GoogleSans-Medium.ttf")
			format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans Display";
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-Italic.eot");
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-Italic.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Italic.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Italic.woff")
			format("woff"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Italic.ttf")
			format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Google Sans";
	src: url("../../assets/fonts/google-sans/GoogleSans-Italic.eot");
	src: url("../../assets/fonts/google-sans/GoogleSans-Italic.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSans-Italic.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSans-Italic.woff") format("woff"),
		url("../../assets/fonts/google-sans/GoogleSans-Italic.ttf")
			format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Google Sans Display";
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-Medium.eot");
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Medium.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Medium.woff")
			format("woff"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Medium.ttf")
			format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans";
	src: url("../../assets/fonts/google-sans/GoogleSans-Bold.eot");
	src: url("../../assets/fonts/google-sans/GoogleSans-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSans-Bold.woff2") format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSans-Bold.woff") format("woff"),
		url("../../assets/fonts/google-sans/GoogleSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans Display";
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-Regular.eot");
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Regular.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Regular.woff")
			format("woff"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-Regular.ttf")
			format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Google Sans Display";
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-BoldItalic.eot");
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-BoldItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-BoldItalic.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-BoldItalic.woff")
			format("woff"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-BoldItalic.ttf")
			format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Google Sans Display";
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-MediumItalic.eot");
	src: url("../../assets/fonts/google-sans/GoogleSansDisplay-MediumItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-MediumItalic.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-MediumItalic.woff")
			format("woff"),
		url("../../assets/fonts/google-sans/GoogleSansDisplay-MediumItalic.ttf")
			format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Google Sans";
	src: url("../../assets/fonts/google-sans/GoogleSans-BoldItalic.eot");
	src: url("../../assets/fonts/google-sans/GoogleSans-BoldItalic.eot?#iefix")
			format("embedded-opentype"),
		url("../../assets/fonts/google-sans/GoogleSans-BoldItalic.woff2")
			format("woff2"),
		url("../../assets/fonts/google-sans/GoogleSans-BoldItalic.woff")
			format("woff"),
		url("../../assets/fonts/google-sans/GoogleSans-BoldItalic.ttf")
			format("truetype");
	font-weight: bold;
	font-style: italic;
}
