@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    /* font-family: 'Poppins', sans-serif !important; */
    overflow-x: hidden;
}

.form-input-text {
    background-color: black;
    width: 20px;
}

.chat-area, .home {
    margin-top: 20px;
    margin-bottom: 20px;
}

.chat-area {
    padding: 10px;
    height: 90%;
    overflow-y: scroll;
}

.chat-area .chat-bubble {
    text-align: left;
    background-color: #bbdefb;
    padding: 20px;
    border-radius: 30px;
    max-width: 300px;
    word-wrap: break-word;
}

.chat-bubble .chat-time {
    font-size: 12px;
    color: #757575;
    text-align: left;
}

.chat-area .chat-bubble.current-user {
    margin-left: auto;
    text-align: right;
    background-color: #a5d6a7;
}

.form-control {
    width: 60%;
}

.form-control:focus {
    box-shadow: none;
}

.btn {
    margin-top: 10px;
}

.btn-submit {
    width: 100%;
}

.chat-area--container {
    width: 100%;
    height: 80%;
}

.chat-area-input {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .form-control {
        width: 100%;
    }

    .chat-area .chat-bubble {
        max-width: 250px;
    }
}
