// Color

$color-primary: $blue-darken-3;
$color-secondary: $teal-lighten-1;

$color-state-info: $info-color;
$color-state-danger: $danger-color;
$color-state-error: $error-color;
$color-state-success: $success-color;
$color-state-warning: $warning-color;

$color-white: #ffffff;
$color-black: #000000;

$color-text: $blue-grey-darken-3;
$color-text-white: $color-white;
$color-text-grey: $grey-lighten-1;
