// Typography

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Google Sans', sans-serif;

$line-height-global: 1.4;

$paragraph-size-normal: 1em;
$paragraph-size-big: $paragraph-size-normal + 0.5em;
$paragraph-size-biggest: $paragraph-size-normal + 1em;
$paragraph-size-small: $paragraph-size-normal - 0.1em;
$paragraph-size-smallest: $paragraph-size-normal - 0.5em;