a {
	text-decoration: none;
}

p {
	line-height: 1.4;
	font-size: 1.1em;
}

.font-bold {
	font-weight: 500;
}
.font-italic {
	font-style: italic;
}
.font-underline {
	text-decoration: underline;
}
.font-size-title-small {
	font-size: 2.1em;
}
.font-size-title-normal {
	font-size: 2.3em;
}
.font-size-xsmall {
	font-size: 0.8em;
}
.font-size-small {
	font-size: 1em;
}
.font-size-normal {
	font-size: 1.15em;
}
.font-size-large {
	font-size: 1.3em;
}
.font-size-xlarge {
	font-size: 1.5em;
}
.font-center {
	text-align: center;
}
.font-right {
	text-align: right;
}
.font-left {
	text-align: left;
}
.font-justify {
	text-align: justify;
}
